<div id="details">
	<h2>{{data.name}}</h2>
	<p>{{data.description}}</p>
	<p>Created on: {{data.created_at}}</p>
	<p>Last updated: {{data.updated_at}}</p>

	<p>Lincense used: {{data.license.name}}</p>
	
</div>